.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.course-container {
  width: 100%;
  max-width: 1444px;
  margin: 0 auto;
}

.contacts-container {
  width: 100%;
  max-width: 1463px;
  margin: 0 auto;
}