.quote__line {
  display: block;
  margin: 0 auto;
  margin-bottom: 43px;
  width: 140px;
  border: 1px solid #DBDBDB;
}

.quote__content {
  margin: 0 auto;
  margin-bottom: 35px;
  width: 753px;
  font-size: 20px;
  line-height: 26px;
  color: #949494;
  text-align: center;
}

.quote__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #333;
}

.quote__bottom {
  padding-bottom: 191px;
  text-align: center;
}